<div class="section__main section__main-banner">
	<div class="section__main-inner">
		<a href="http://rpp.gmarket.co.kr/?exhib=95298" class="link__banner" data-montelena-acode="200003547">
			<img src="//image.gmarket.co.kr/hanbando/202303/133152b2-80a0-48fe-98bc-14eb46120707.png" alt="마트 빅페스타 매일 찾아오는 15% 쿠폰 무제한 발급" class="image">
			<noscript><img src="//image.gmarket.co.kr/hanbando/202303/133152b2-80a0-48fe-98bc-14eb46120707.png" alt="마트 빅페스타 매일 찾아오는 15% 쿠폰 무제한 발급" class="image"/></noscript>
		</a>
	</div>
</div>